R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/ClienteAnalisis/SolucionesCodigoFuente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Paquetes" />
  <xs:element name="GuardeElPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Paquetes" minOccurs="0" name="elPaquete" nillable="true" type="q1:Paquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardeElPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardeElPaqueteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>