R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/ClienteAnalisis/SolucionesCodigoFuente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Proyectos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Proyectos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Clases" />
  <xs:complexType name="ArrayOfProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proyecto" nillable="true" type="tns:Proyecto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyecto" nillable="true" type="tns:ArrayOfProyecto" />
  <xs:complexType name="Proyecto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Clases" minOccurs="0" name="Clases" nillable="true" type="q1:ArrayOfClase" />
      <xs:element minOccurs="0" name="IdProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lenguaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProyecto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proyecto" nillable="true" type="tns:Proyecto" />
</xs:schema>