R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/ClienteAnalisis/SolucionesCodigoFuente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Usings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Usings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Using" nillable="true" type="tns:Using" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsing" nillable="true" type="tns:ArrayOfUsing" />
  <xs:complexType name="Using">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsingDeclarado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Using" nillable="true" type="tns:Using" />
</xs:schema>