R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/ClienteAnalisis/SolucionesCodigoFuente6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Herencias" />
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Metodos" />
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Propiedades" />
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.BC.Clases" />
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/SolucionesCodigoFuente.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Usings" />
  <xs:complexType name="ArrayOfClase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clase" nillable="true" type="tns:Clase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClase" nillable="true" type="tns:ArrayOfClase" />
  <xs:complexType name="Clase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Herencias" minOccurs="0" name="Herencias" nillable="true" type="q1:ArrayOfHerencia" />
      <xs:element minOccurs="0" name="LineaComienzo" type="xs:int" />
      <xs:element minOccurs="0" name="LineaFinal" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Metodos" minOccurs="0" name="Metodos" nillable="true" type="q2:ArrayOfMetodo" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Propiedades" minOccurs="0" name="Propiedades" nillable="true" type="q3:ArrayOfPropiedad" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.BC.Clases" minOccurs="0" name="Tipo" type="q4:Tipo" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Usings" minOccurs="0" name="Usings" nillable="true" type="q5:ArrayOfUsing" />
      <xs:element minOccurs="0" name="Visibilidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clase" nillable="true" type="tns:Clase" />
</xs:schema>