R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/ClienteAnalisis/SolucionesCodigoFuente10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Propiedades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Propiedades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPropiedad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Propiedad" nillable="true" type="tns:Propiedad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropiedad" nillable="true" type="tns:ArrayOfPropiedad" />
  <xs:complexType name="Propiedad">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsEstatica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visibilidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Propiedad" nillable="true" type="tns:Propiedad" />
</xs:schema>