R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.RM/Service References/Repositorios/Repositorios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commit" nillable="true" type="tns:Commit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommit" nillable="true" type="tns:ArrayOfCommit" />
  <xs:complexType name="Commit">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorCommit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreAutorRepositorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreRepositorio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commit" nillable="true" type="tns:Commit" />
</xs:schema>