R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.RM/Service References/Repositorios/Repositorios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Repositorios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRepositorios_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepositorios_GuardeElRepositorio_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardeElRepositorio" />
  </wsdl:message>
  <wsdl:message name="IRepositorios_GuardeElRepositorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardeElRepositorioResponse" />
  </wsdl:message>
  <wsdl:message name="IRepositorios_ValideSiSeDebeAnalizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ValideSiSeDebeAnalizar" />
  </wsdl:message>
  <wsdl:message name="IRepositorios_ValideSiSeDebeAnalizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValideSiSeDebeAnalizarResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepositorios">
    <wsdl:operation name="GuardeElRepositorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepositorios/GuardeElRepositorio" message="tns:IRepositorios_GuardeElRepositorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepositorios/GuardeElRepositorioResponse" message="tns:IRepositorios_GuardeElRepositorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValideSiSeDebeAnalizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepositorios/ValideSiSeDebeAnalizar" message="tns:IRepositorios_ValideSiSeDebeAnalizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepositorios/ValideSiSeDebeAnalizarResponse" message="tns:IRepositorios_ValideSiSeDebeAnalizar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepositorios" type="tns:IRepositorios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardeElRepositorio">
      <soap:operation soapAction="http://tempuri.org/IRepositorios/GuardeElRepositorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValideSiSeDebeAnalizar">
      <soap:operation soapAction="http://tempuri.org/IRepositorios/ValideSiSeDebeAnalizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRepositorios" type="tns:IRepositorios">
    <wsp:PolicyReference URI="#NetTcpBinding_IRepositorios_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GuardeElRepositorio">
      <soap12:operation soapAction="http://tempuri.org/IRepositorios/GuardeElRepositorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValideSiSeDebeAnalizar">
      <soap12:operation soapAction="http://tempuri.org/IRepositorios/ValideSiSeDebeAnalizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Repositorios">
    <wsdl:port name="BasicHttpBinding_IRepositorios" binding="tns:BasicHttpBinding_IRepositorios">
      <soap:address location="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRepositorios" binding="tns:NetTcpBinding_IRepositorios">
      <soap12:address location="net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/Repositorios.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://eclp0196.bdconsultores.local/AnalisisCodigo/Servicios/Repositorios.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/ECLP0196.BDCONSULTORES.local</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>