R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.RM/Service References/Repositorios/Repositorios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/Repositorios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" />
  <xs:element name="GuardeElRepositorio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" minOccurs="0" name="losCommits" nillable="true" type="q1:ArrayOfCommit" />
        <xs:element minOccurs="0" name="idPaquete" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardeElRepositorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideSiSeDebeAnalizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Repositorios" minOccurs="0" name="losCommits" nillable="true" type="q2:ArrayOfCommit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideSiSeDebeAnalizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValideSiSeDebeAnalizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>