R2PB.AnalisisCodigo/R2PB.AnalisisCodigo.AC/Service References/Bitacoras/Bitacoras3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AnalisisCodigo/Servicios/Bitacoras.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Bitacoras" />
  <xs:element name="RegistreError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/R2PB.AnalisisCodigo.SI.Datos.Bitacoras" minOccurs="0" name="laBitacora" nillable="true" type="q1:Bitacora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistreErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>